<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">  
		<link href="{{url_for('static', filename='css/main.css')}}" type="text/css" 
		rel="stylesheet">
		<link href="{{url_for('static', filename='css/mobile.css')}}" 
		media="screen and (max-width:600px)" type="text/css" rel="stylesheet">
		<title>Catalog app</title>
	</head>
	<body>
		<header class='header'>
			<h1 class='title'>Catalog app</h1>
		</header>
		<div class="whiteLine"></div>
		<nav class="nav">
			<a href=../><button class="button">Home page</button></a>
			{% if current_user.is_authenticated == False %}
			<div class="log">
				<a href="/register">
					<button class="button" style="margin:0px">Register</button>
				</a>
				<a href="/login">
					<button class="button" style="margin:0px">Log in</button>
				</a>
			</div>
			{% endif %}
			{% if current_user.is_authenticated == True %}
			<div class="log">
				<a href="/logout">
					<button class="button" style="margin:0px">Log out</button>
				</a>
			</div>
			{% endif %}
			</div>
		</nav>
		<ul class="categories">
			<h2>Categories</h2>
			{}
		</ul>
		<article class="description">
			<a href="./"><button class="back"></button></a>
			<h2>{}</h2>
			{}
			<p class="text">{}</p>
			{% if current_user.id == user_id or current_user.status == 'admin' %}
			<a href="{{url_for('edit_item', category=category, id=id)}}">
				<button class="button">Edit this item</button></a>
			<a href="{{url_for('delete_item', category=category, id=id)}}">
				<button class="button">Delete this item</button></a>
			{% endif %}
		</article>
		{% if current_user.is_authenticated %}
		<aside class="side">
			<h3 class="profile">You logged as {}</h3>
		</aside>
		{% endif %}
		<footer></footer>
	</body>
</html>